body {
  background: $bg;
  min-height: 100vh;
  color: $base-color;
  font-family: "Montserrat", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.wrapper {
  @include media(">=1024px") {
    width: 1024px;
    margin: auto;
  }
}
.navigation {
  background: $nav-bg;
  height: 36px;
  @include media(">=640px") {
    height: 74px;
  }
  @include media(">=980px") {
    height: 97px;
  }
}
.visual {
  display: flex;
  flex-direction: column;
  @include media(">=980px") {
    flex-direction: row;
  }
  img {
    display: block;
  }
  li {
    .visual-item {
      background: #5b0fa1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 274px;
      width: 100%;

      @include media(">=640px") {
        height: 550px;
      }
      @include media(">=980px") {
        height: 100%;
      }
    }
    img {
      width: 100%;
    }
    @include media(">=980px") {
      width: 33.3%;
    }
    picture {
      width: 100%;
    }
  }
}
